.container {
    width: 1170px;
    margin: auto;
    margin-top: 20px;

    background-color: aquamarine;
}

.header-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 10px;
    border-bottom: 4px solid black;
}

.logo-h {
    font-size: 40px;
}

.logo-s {
    font-size: 20px;
}

.panel {
    width: 40%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.panel-item-link {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 2px solid black;
}

.add-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.language {
    width: 40px;

}

.search {
    height: 10px;
}

main {
    margin-top: 20px;
}

.item-name-container {
    display: flex;
    gap: 20px;
    flex-basis: auto;
}

.item-name {
    font-size: 28px;
    margin-bottom: 5px;
}

.item-name-date {
    font-size: 28px;
    margin-bottom: 5px;
}

.item-name_description {
    font-size: 18px;
    margin-bottom: 15px;
}

.label-container {
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
}

.image-container {
    display: flex;
    gap: 10px;
    
}

#imageToggle {
    position: absolute;
    bottom: -33px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 14px;
}
  



.image-container #item-img {
    width: 420px;
    height: 320px;
}

.image-container #item-img_back {
    width: 420px;
    height: 320px;
}

.image-container #item-img_plus {
    display: none;
    width: 420px;
    height: 320px;
}

.image-container #item-img_back_plus {
    display: none;
    width: 420px;
    height: 320px;
}

#item-img_description {
    display: none;
    font-size: 16px;
    margin-top: 5px;
}

#item-img_back_description {
    display: none;
    font-size: 16px;
    margin-top: 5px;

}

#imageToggle:checked+label+.image-container #item-img_plus {
    display: block;
}

#imageToggle:checked+label+.image-container #item-img_back_plus {
    display: block;
}

#imageToggle:checked+label+.image-container #item-img {
    display: none;
}

#imageToggle:checked+label+.image-container #item-img_back {
    display: none;
}

#imageToggle:checked+label+.image-container #item-img_description {
    display: block;
}

#imageToggle:checked+label+.image-container #item-img_back_description {
    display: block;
}



