.container {
    width: 1170px;
    margin: auto;
    margin-top: 20px;

    background-color: aquamarine;
}

.header-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 10px;
    border-bottom: 4px solid black;
}

.logo-h {
    font-size: 40px;
}

.logo-s {
    font-size: 20px;
}

.panel {
    width: 40%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.panel-item-link {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 2px solid black;
}

.add-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.language {
    width: 40px;

}

.search {
    height: 10px;
}

main {
    display: flex;
}

.year-list {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.year-list-filter {
    font-size: 30px;
    border: 2px solid black;
    padding: 10px 27px;
}

#ninety-two {
    cursor: pointer;
}

#ninety-two.active {
    background-color: darkgreen;
    color: #fff;
}

.year-list-filter-selected {
    
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    display: none;
}

img {
    width: 60%;
}

.year-list-item-container {
    width: 33%;
    margin-top: 20px;
}

.year-list-item {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.list-item {
    display: flex;
    flex-direction: column;

}