.container {
    width: 1170px;
    margin: auto;
    margin-top: 20px;

    background-color: aquamarine;
}

.header-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 10px;
    border-bottom: 4px solid black;
}

.logo-h {
    font-size: 40px;
}

.logo-s {
    font-size: 20px;
}

.panel {
    width: 40%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.panel-item-link {
    text-decoration: none;
    color: black;
 padding: 5px 10px;
    border: 2px solid black;
}

.add-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.language {
    width: 40px;
    
}

.search {
    height: 10px;
}

.nav-panel {
    width: 60%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    
}

.nav-panel-item {

    text-decoration: none;
    text-transform: uppercase;
    color: black;
 padding: 10px 20px;
    border: 2px solid black;
}